.git
.github
.next
.turbo
.vercel
.wrangler
**/.next
**/.turbo
**/.wrangler
**/dist
**/node_modules
.pnpm-store
.env
.env.*
!.env.example
*.har
*.log
/*.png
**/*.tsbuildinfo
coverage
node_modules
qa-output
supabase/.temp
